<div class="quien-soy-container">
    <div class="quien-soy-content">
        <div class="foto">
            <img src="../../../assets/miphoto.jpg" alt="Foto de Lucas De Nardo" class="foto-perfil">
        </div>
      <h1>Quién Soy</h1>
      <p>
        Soy Lucas De Nardo, estudiante de la Tecnicatura Universitaria en Programación en la Universidad Tecnológica Nacional (UTN). Desde hace dos años, me desempeño como desarrollador, adquiriendo experiencia y habilidades en el mundo del software. Además de mi pasión por la programación, también me dedico a la música bajo el nombre artístico de Kalu.
      </p>
      <h2>Sobre mi juego</h2>
      <p>
        Los jugadores deben enfrentarse a hordas de zombies que aparecen en la pantalla. A medida que el juego avanza, los zombies se aparecen cada vez más rápido, aumentando el desafío. El objetivo es eliminar tantos zombies como sea posible para ganar puntos. Los jugadores tienen tres vidas, lo que hace que sea indispensable cuidar de ellas. Este juego combina acción rápida y decisiones tácticas, ofreciendo una experiencia divertida y adictiva.
      </p>
    </div>
  </div>
  