<div id="divTotal" style="top: 100px;">
    <div class="container" style="height: 100vh;">
        <div class="row">
            <div class="col-sm-12" style="position: relative; top: 120px;">
                <div class="text-center">
                    <img src="../../../assets/icon.png" alt="Imagen" class="floating-image" draggable="false">
                    <div class="container text-center" style= "margin-top: 20px; width: 850px;" *ngIf="mostrarDescripcion">
                        <h2 style="color: white; font-size: 40px;">{{juegoTitulo}}</h2>
                        <p style="color: white; font-size: 20px;">{{descripcion}}</p>
                    </div>
                    <div class="caja-juegos">
                        <div class="juegos">
                            <img src="../../../assets/PokemonIcono.jpg" class="imagenes-juegos" (click)="seleccionarImagen(1)" (mouseover)="mostrarDesc(1)" (mouseleave)="ocultarDesc()" draggable="false">
                            <h2 style="color: white;">Preguntados</h2>
                        </div>
                        <div class="juegos">
                            <img src="../../../assets/mayormenor.webp" class="imagenes-juegos" (click)="seleccionarImagen(2)" (mouseover)="mostrarDesc(2)" (mouseleave)="ocultarDesc()" draggable="false">
                            <h2 style="color: white;">Mayor o Menor</h2>
                        </div>
                        <div class="juegos">
                            <img src="../../../assets/ahorcado/ahorcado.jpeg" class="imagenes-juegos" (click)="seleccionarImagen(3)" (mouseover)="mostrarDesc(3)" (mouseleave)="ocultarDesc()" draggable="false">
                            <h2 style="color: white;">Ahorcado</h2>
                        </div>
                        <div class="juegos">
                            <img src="../../../assets/resistenciazombie/resistenciazombie.webp" class="imagenes-juegos" (click)="seleccionarImagen(4)" (mouseover)="mostrarDesc(4)" (mouseleave)="ocultarDesc()" draggable="false">
                            <h2 style="color: white;">Resistencia Zombie</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  