<meta charset="utf-8" />
<div class="d-flex justify-content-center align-items-center min-100vh">
  <div class="container">
    <div class="text-center mt-5">
      <h1>Juego del Ahorcado</h1>
    </div>
    <div class="row mt-5 align-items-center">
      <div class="col-lg-6 col-12 text-center">
        <img
          src=""
          class="ahorcado-img"
          alt="Perdiste!!! Estás Ahorcado!!!"
          title="Perdiste!!! Estás Ahorcado!!!"
        />
        <h3 class="intentosContainer">
          Intentos: <small>2(var) / 7 </small>
        </h3>
      </div>
      <div class="col-lg-6 col-12 text-center">
    
        <div class="p-3 containerBtn">
          <div class="text-center">
            <button
            
            >
            </button>
          </div>
        </div>
        
        <div>
          <h1>2(var)</h1>
        </div>
      </div>
    </div>
    <button  class="btnJugarNuevo">
      <img
        class="imgJugarNuevo"
        src="../../../../assets/img/actualizar.svg"
        alt="Actualizar"
      />
    </button>
  </div>
</div>