<div class="mainContainer min-100vh background-image">
    <div class="wrapper">
      <div class="quiz-container">
        <div class="quiz-head">
          <h1 class="quiz-title">Preguntados</h1>
          <div class="quiz-score">
            <span>Puntaje: <span style="background-color: rgba(18, 238, 11, 0.51);">{{puntaje}}</span></span>
            <span style="position: relative;">Tiempo: {{ remainingTime }}s</span>
          </div>
          <!-- <div class="quiz-score">
          </div> -->
        </div>
        <div class="quiz-body">
          <h2 class="quiz-question" id="question">
            ¿QUÉ POKEMON ES?
          </h2>
          <div class="pokemon-div" >
            <img *ngIf="pokemonObs$ | async as pokemonObs" src="{{pokemonObs.sprites.front_default}}" style="height: 250px;" draggable="false">
          </div>
          <ul class="quiz-options">
            <li (click)="verificarRespuesta(1)"> {{opcionUno}} </li>
            <li (click)="verificarRespuesta(2)"> {{opcionDos}} </li>
            <li (click)="verificarRespuesta(3)"> {{opcionTres}} </li>
            <li (click)="verificarRespuesta(4)"> {{opcionCuatro}} </li> 
          </ul>
          <div id="result"></div>
        </div>
        <div class="quiz-foot">
          <button type="button" [disabled]="botonDeshabilitado" (click)="reiniciar()">Reincio</button>
        </div>
      </div>
    </div>
  </div>